## importing libraries

In [1]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = np.random.randint(0,100,(10,2))
data

array([[64,  2],
       [ 6, 52],
       [92,  7],
       [91,  9],
       [34,  9],
       [ 3, 30],
       [ 9, 79],
       [87, 70],
       [77, 87],
       [68, 76]])

### Using MinMaxScaler to minimize (scale) the value in the array

In [4]:
scaler_model = MinMaxScaler()

In [6]:
scaler_model.fit(data)

/home/ns/anaconda3/envs/tf/lib/python3.6/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

### To train the model for scaling

In [8]:
scaler_model.transform(data)

array([[0.68539326, 0.        ],
       [0.03370787, 0.58823529],
       [1.        , 0.05882353],
       [0.98876404, 0.08235294],
       [0.34831461, 0.08235294],
       [0.        , 0.32941176],
       [0.06741573, 0.90588235],
       [0.94382022, 0.8       ],
       [0.83146067, 1.        ],
       [0.73033708, 0.87058824]])

In [10]:
scaler_model.fit_transform(data)

/home/ns/anaconda3/envs/tf/lib/python3.6/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.68539326, 0.        ],
       [0.03370787, 0.58823529],
       [1.        , 0.05882353],
       [0.98876404, 0.08235294],
       [0.34831461, 0.08235294],
       [0.        , 0.32941176],
       [0.06741573, 0.90588235],
       [0.94382022, 0.8       ],
       [0.83146067, 1.        ],
       [0.73033708, 0.87058824]])

## Importing Pandas

In [13]:
import pandas as pd

In [14]:
mydata = np.random.randint(0,101,(50,4))

In [15]:
mydata

array([[61,  7, 79, 28],
       [62, 44,  2, 18],
       [ 4, 12, 40, 41],
       [81, 77, 48, 74],
       [76, 15, 52, 85],
       [39, 52, 83, 76],
       [89, 50, 74, 44],
       [18, 55, 71, 66],
       [13, 30,  2, 46],
       [ 7, 81, 53, 52],
       [34, 31, 88, 73],
       [69, 95, 18, 60],
       [22, 12, 87, 75],
       [68, 84, 82, 74],
       [51, 38, 31, 15],
       [59, 85, 79, 14],
       [83,  3, 25, 95],
       [43, 52, 68, 53],
       [35, 30, 55, 97],
       [50, 78,  3, 91],
       [67, 15, 94, 84],
       [29, 41, 21, 90],
       [ 2, 39, 22, 87],
       [46, 58, 29, 41],
       [17, 99, 46, 72],
       [63, 95, 87, 68],
       [16, 53, 90, 63],
       [ 0, 32, 62, 38],
       [ 2, 74, 34, 46],
       [ 8, 43, 51, 44],
       [56, 82, 78, 34],
       [98, 94, 55, 63],
       [97, 61, 93, 24],
       [56, 85, 78,  7],
       [56, 53,  0, 74],
       [91, 78,  0, 27],
       [74, 50, 31, 43],
       [39, 94, 17, 22],
       [73,  9, 79, 58],
       [ 4, 79,  6, 45],
       [48, 36, 10, 92],
       [76, 92,  2, 69],
       [79, 18, 90, 14],
       [27, 76, 58, 75],
       [77, 94, 89, 73],
       [73, 52, 56, 42],
       [95,  8, 63, 72],
       [ 7, 14, 64, 94],
       [96, 21, 54,  8],
       [69, 10, 18, 55]])

In [21]:
df = pd.DataFrame(data = mydata, columns = ['f1', 'f2', 'f3', 'label'])

In [23]:
df

    f1  f2  f3  label
0   61   7  79     28
1   62  44   2     18
2    4  12  40     41
3   81  77  48     74
4   76  15  52     85
5   39  52  83     76
6   89  50  74     44
7   18  55  71     66
8   13  30   2     46
9    7  81  53     52
10  34  31  88     73
11  69  95  18     60
12  22  12  87     75
13  68  84  82     74
14  51  38  31     15
15  59  85  79     14
16  83   3  25     95
17  43  52  68     53
18  35  30  55     97
19  50  78   3     91
20  67  15  94     84
21  29  41  21     90
22   2  39  22     87
23  46  58  29     41
24  17  99  46     72
25  63  95  87     68
26  16  53  90     63
27   0  32  62     38
28   2  74  34     46
29   8  43  51     44
30  56  82  78     34
31  98  94  55     63
32  97  61  93     24
33  56  85  78      7
34  56  53   0     74
35  91  78   0     27
36  74  50  31     43
37  39  94  17     22
38  73   9  79     58
39   4  79   6     45
40  48  36  10     92
41  76  92   2     69
42  79  18  90     14
43  27  76  58     75
44  77  94  89     73
45  73  52  56     42
46  95   8  63     72
47   7  14  64     94
48  96  21  54      8
49  69  10  18     55

In [25]:
x = df[['f1', 'f2', 'f3']]

In [26]:
x

    f1  f2  f3
0   61   7  79
1   62  44   2
2    4  12  40
3   81  77  48
4   76  15  52
5   39  52  83
6   89  50  74
7   18  55  71
8   13  30   2
9    7  81  53
10  34  31  88
11  69  95  18
12  22  12  87
13  68  84  82
14  51  38  31
15  59  85  79
16  83   3  25
17  43  52  68
18  35  30  55
19  50  78   3
20  67  15  94
21  29  41  21
22   2  39  22
23  46  58  29
24  17  99  46
25  63  95  87
26  16  53  90
27   0  32  62
28   2  74  34
29   8  43  51
30  56  82  78
31  98  94  55
32  97  61  93
33  56  85  78
34  56  53   0
35  91  78   0
36  74  50  31
37  39  94  17
38  73   9  79
39   4  79   6
40  48  36  10
41  76  92   2
42  79  18  90
43  27  76  58
44  77  94  89
45  73  52  56
46  95   8  63
47   7  14  64
48  96  21  54
49  69  10  18

In [27]:
y = df['label']

In [28]:
y

0     28
1     18
2     41
3     74
4     85
5     76
6     44
7     66
8     46
9     52
10    73
11    60
12    75
13    74
14    15
15    14
16    95
17    53
18    97
19    91
20    84
21    90
22    87
23    41
24    72
25    68
26    63
27    38
28    46
29    44
30    34
31    63
32    24
33     7
34    74
35    27
36    43
37    22
38    58
39    45
40    92
41    69
42    14
43    75
44    73
45    42
46    72
47    94
48     8
49    55
Name: label, dtype: int64

### Importing Train Test Split to split Test and Training data

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)